<p style="font-size: 25; font-weight: 800;">Hello {{ name }},</p>
<p style="font-weight: 700;">OTP code to confirm your account is: {{ otp }}</p>
<p>This OTP will expire after 60s.</p>
<p>Thank you for using our service.</p>